.service h1 {
  margin-block: 0.5em;
  font-size: var(--text-3xl);
}

.service__header{
  margin-block: 1em;
  width: 35%;
  text-align: justify
}

.service__container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1rem;
  width: 100%;
}

.service__card img{
  width: var(--text-4xl);
  height: var(--text-4xl);
}

.service-vector {
  width: 100%;
  display: flex;
  justify-content: center;
}

.service__container-vector {
  width: 100%;
  display: flex;
}

.service__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  gap: 2em;
}

.service__card {
  padding-inline: 1em;
}


@media (min-width: 678px) {
  .service-vector {
    display: none;
  }
}

@media (min-width: 940px) {
  .reccomendation__card {
    flex: 0 0 calc(100% / 3 - 1em);
  }
  .service__container {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2em;
  }
  .service-vector {
    display: flex;
    width: 35%;
    height: 10%;
  }

  .service__content {
    width: 40%;
    text-align: justify;
  }
}

@media (min-width: 1228px) {
  .reccomendation__card {
    flex: 0 0 calc(100% / 4 - 1.2em);
  }
}
