/* global css */
@font-face {
  font-family: "Averta";
  src: url("../assets/fonts/AvertaDemoPECuttedDemo-Regular.otf")
    format("opentype");
}
/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body base style */
body {
  font-family: "Averta", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

/* utility classes */
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}
